.containerAbout {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;

  }
  
  .containerA1:hover,
  .containerA3:hover,
  .containerA2:hover {
    transform: scale(1.1);
    filter: brightness(90%);
  }

  .containerA1,
  .containerA2,
  .containerA3 {
    border-radius: 10%;
    margin: 2vw;
    width: 15vw;
    height: 20vw;
    transition: transform 0.3s ease-in-out;
    align-content: center;
  }
  
  
  
  .wordAbout {

    color: #ffce08;
    font-family: Georgia, serif;
    margin: 2vw;
    width: 50vw;
    text-align: center;
    font-weight: bold;
    font-size: 2.5vw;
  }
  
  .wordAbout p {
    color: aliceblue;
    font-weight: normal;
    font-size: 1.5vw;
  }
  
  .hd1 {
    color: #ffce08;
    font-size: 2.0vw;
  }